/*============================================================================*\

    @@VARIABLES

\*============================================================================*/
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/*============================================================================*\

    @@COMMON PROPERTIES

\*============================================================================*/
* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

a {
  text-decoration: none !important;
  cursor: default;
}

/*============================================================================*\

    @@START PAGE

\*============================================================================*/
.start-page {
  padding: 25vh 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/startPage/start-img.svg) no-repeat;
  background-size: cover;
  text-align: center;

  & .logo {
    display: block;
    margin: 0 auto 5vh auto;
    width: 370px;
  }

/*============================================================================*\

    @@START PAGE @media

\*============================================================================*/
    @media (max-width: $screen-xs) {
      & .start-page__logo {
        width: 290px;
      }

      & .select-region {
        width: 250px;
        padding: 0 0 0 40px;
      }
    }
}

/*============================================================================*\

    @@INPUT SELECT-REGION

\*============================================================================*/
.select-region {
  padding: 0 0 0 50px;
  width: 350px;
  height: 40px;
  background: rgba(255, 255, 255, .4) url(../img/startPage/icon-search.svg) no-repeat 5%;
  background-size: 25px 25px;
  border: none;
  font: {
    family: "Verdana", sans-serif;
    size: 16px;
  }
  color: white;

  &::-webkit-input-placeholder {
    color: white;
  }

  &:focus {
    background: rgba(0, 0, 0, .5) url(../img/startPage/icon-search.svg) no-repeat 5%;
    background-size: 25px 25px;
  }
}

.select-region-small-size {
  margin: 20px 2vw;
  float: right;
  width: 225px;
  height: 30px;
  background-size: 20px 20px;
  font-size: 14px;
}

/*============================================================================*\

    @@AUTOCOMPLETE GOOGLE API

\*============================================================================*/
.pac-container {
  background: rgba(255, 255, 255, .4);
  font: {
    family: "Verdana", sans-serif;
    size: 15px;
  }
}

.pac-item {
  font-size: 15px;
  color: white;

  &:hover {
    background: rgba(0, 0, 0, .5);
  }
}

.pac-item-selected {
  background: rgba(0, 0, 0, .5);
}

.pac-item-query {
  font-weight: bold;
  color: black;
}

.pac-icon {
  background: url("../img/startPage/icon-location.svg") no-repeat;
}

/*============================================================================*\

    @@WEATHER FORECAST PAGE
    @@BACKGROUND (IN DEPENDS ON PARTS OF DAY)

\*============================================================================*/

.js-container-morning {
  background: url("../img/weatherForecastPage/img-morning.svg") no-repeat;
}
.js-container-afternoon {
  background: url("../img/weatherForecastPage/img-afternoon.svg") no-repeat;
}
.js-container-evening {
  background: url("../img/weatherForecastPage/img-evening.svg") no-repeat;
}
.js-container-night {
  background: url("../img/weatherForecastPage/img-night.svg") no-repeat;
}

.container-bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/*============================================================================*\

    @@SLIDER-BAR (NIGHT, MORNING, AFTERNOON, EVENING)

\*============================================================================*/
.slider {
  margin: 0 auto;
  width: 60vw;
  height: 25px;
}

.slider>.col-md-12.col-lg-12 {
  padding: 0;
}

.slider-btns{
  width: 60vw;
  height: 21px;
}

.slider__btn {
  position: absolute;
  width: 80px;
  border: none;
  background: transparent;
  font: {
    family: "Verdana", sans-serif;
    size: 15px;
    weight: 500;
  }
  color: #F0F8FF;

  &:hover {
    background: rgba(255, 255, 255, .6);
  }
  &:active {
    transform: scale(.95);
  }
}

.slider-bar {
  width: 60vw;
  height: 6px;
  border-top: 1px solid rgba(255, 255, 255, .6);
}

.switcher {
  position: absolute;
  width: 80px;
  height: 5px;

  &.visible{
    background: rgba(255, 255, 255, .8);
    transition: all .2s ease-in-out;
   }
  &.invisible{
    background: rgba(255, 255, 255, 0);
    transition: all .3s ease-in-out;
  }
}

.morning { left: 0 }
.afternoon { left: 17vw; }
.evening { left: 36vw; }
.night { right: 0; }
/*============================================================================*\

    @@STATE OF CURRENT WEATHER

\*============================================================================*/
.state-of-weather{
  margin: 20px 0;
  height: 24vh;
}

.state-of-weather__indicators {
  border: .5px solid rgba(255, 255, 255, .4);

  &.windspeed {
    background: rgba(255, 255, 255, .2) url("../img/iconsTolls/windspeed.svg") no-repeat 10% 50%;
    background-size: 60px;
  }
  &.temp {
    background: rgba(255, 255, 255, .2) url("../img/iconsTolls/temp.svg") no-repeat 10% 50%;
    background-size: 60px;

  }
  &.temp-fillslike {
    background: rgba(255, 255, 255, .2) url("../img/iconsTolls/tempFeelslike.svg") no-repeat 10% 50%;
    background-size: 80px;
  }
  &.humidity {
    background: rgba(255, 255, 255, .2) url("../img/iconsTolls/humidity.png") no-repeat 10% 50%;
    background-size: 70px;
  }
}

.state-of-weather__icon img{
  position: absolute;
  z-index: 100;
}

/*============================================================================*\

    @@ACCORDION

\*============================================================================*/
.card {
  background-color: rgba(0, 0, 0, .4);
  border: none;
  border-radius: 0;
  font: {
    family: "Verdana", sans-serif;
    size: 17px;
  }
  color: #F0F8FF;
}

.card .card-header,
.card .card-block{
  padding: 5px;
  background-color: rgba(0, 0, 0, .05);
  border: .5px solid rgba(255, 255, 255, .4);
  border-radius: 0;
}

.card .card-header {
  background-color: rgba(255, 255, 255, .3);

  & a {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, .8);

    &:hover {
      background-color: rgba(255, 255, 255, .6);
      color: rgba(0, 0, 0, .8);
    }
    &:active {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.table-weather-header,
.table-weather {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

.table-weather-header td,
.table-weather td{
  height: 4.9vh;
  font-size: 15px;
  cursor: default;
}

.table-weather tr:hover {
  background-color: rgba(255, 255, 255, .7);
  color: rgba(0, 0, 0, .9);
}
.icon-header-table,
.icon-table {
  width: 30px;
}








