/*============================================================================*\

    @@VARIABLES

\*============================================================================*/
$screen-xs: 500px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/*============================================================================*\

    @@COMMON PROPERTIES

\*============================================================================*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

/*============================================================================*\

    @@START PAGE

\*============================================================================*/

.start-page {
  padding: 25vh 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/startPage/start-img.jpeg) no-repeat;
  background-size: cover;
  text-align: center;

  & .start-page__logo {
    display: block;
    margin: 0 auto 5vh auto;
    width: 370px;
  }

  & .start-page__select-region {
    padding: 0 0 0 50px;
    width: 350px;
    height: 40px;
    background: rgba(255, 255, 255, .4) url(../img/startPage/icon-search.svg) no-repeat 5%;
    background-size: 25px 25px;
    border: none;
    font-size: 15px;
    color: white;

    &::-webkit-input-placeholder {
      font-size: 16px;
      color: white;
    }

    &:focus {
      background: rgba(0, 0, 0, .5) url(../img/startPage/icon-search.svg) no-repeat 5%;
      background-size: 25px 25px;
    }
  }

/*============================================================================*\

    @@START PAGE @media

\*============================================================================*/
    @media (max-width: $screen-xs) {
      & .start-page__logo {
        width: 290px;
      }

      & .start-page__select-region {
        width: 250px;
        padding: 0 0 0 40px;
      }
    }
}

/*============================================================================*\

    @@AUTOCOMPLETE GOOGLE API

\*============================================================================*/
.pac-container {
  background: rgba(255, 255, 255, .4);
}

.pac-item {
  font-size: 15px;
  color: white;

  &:hover {
    background: rgba(0, 0, 0, .5);
  }
}

.pac-item-selected {
  background: rgba(0, 0, 0, .5);
}

.pac-item-query {
  font-weight: bold;
  color: black;
}

.pac-icon {
  background: url("../img/startPage/icon-location.svg") no-repeat;
}

