/*============================================================================*
    @@VARIABLES

\*============================================================================*/
/*============================================================================*
    @@COMMON PROPERTIES

\*============================================================================*/
* {
  margin: 0;
  padding: 0;
  outline: none !important; }

a {
  text-decoration: none !important;
  cursor: default; }

/*============================================================================*
    @@START PAGE

\*============================================================================*/
.start-page {
  padding: 25vh 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/startPage/start-img.jpeg) no-repeat;
  background-size: cover;
  text-align: center;
  /*============================================================================*
    @@START PAGE @media

\*============================================================================*/ }
  .start-page .logo {
    display: block;
    margin: 0 auto 5vh auto;
    width: 370px; }
  @media (max-width: 576px) {
    .start-page .start-page__logo {
      width: 290px; }
    .start-page .select-region {
      width: 250px;
      padding: 0 0 0 40px; } }

/*============================================================================*
    @@INPUT SELECT-REGION

\*============================================================================*/
.select-region {
  padding: 0 0 0 50px;
  width: 350px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4) url(../img/startPage/icon-search.svg) no-repeat 5%;
  background-size: 25px 25px;
  border: none;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: white; }
  .select-region::-webkit-input-placeholder {
    color: white; }
  .select-region:focus {
    background: rgba(0, 0, 0, 0.5) url(../img/startPage/icon-search.svg) no-repeat 5%;
    background-size: 25px 25px; }

.select-region-small-size {
  margin: 20px 2vw;
  float: right;
  width: 225px;
  height: 30px;
  background-size: 20px 20px;
  font-size: 14px; }

/*============================================================================*
    @@AUTOCOMPLETE GOOGLE API

\*============================================================================*/
.pac-container {
  background: rgba(255, 255, 255, 0.4);
  font-family: "Verdana", sans-serif;
  font-size: 15px; }

.pac-item {
  font-size: 15px;
  color: white; }
  .pac-item:hover {
    background: rgba(0, 0, 0, 0.5); }

.pac-item-selected {
  background: rgba(0, 0, 0, 0.5); }

.pac-item-query {
  font-weight: bold;
  color: black; }

.pac-icon {
  background: url("../img/startPage/icon-location.svg") no-repeat; }

/*============================================================================*
    @@WEATHER FORECAST PAGE
    @@BACKGROUND (IN DEPENDS ON PARTS OF DAY)

\*============================================================================*/
.js-container-morning {
  background: url("../img/weatherForecastPage/img-morning.svg") no-repeat; }

.js-container-afternoon {
  background: url("../img/weatherForecastPage/img-arternoon.svg") no-repeat; }

.js-container-evening {
  background: url("../img/weatherForecastPage/img-evening.svg") no-repeat; }

.js-container-night {
  background: url("../img/weatherForecastPage/img-night.svg") no-repeat; }

.container-bg {
  width: 100vw;
  height: 100vh;
  background-size: cover; }

/*============================================================================*
    @@SLIDER-BAR (NIGHT, MORNING, AFTERNOON, EVENING)

\*============================================================================*/
.slider {
  margin: 0 auto;
  width: 60vw;
  height: 25px; }

.slider > .col-md-12.col-lg-12 {
  padding: 0; }

.slider-btns {
  width: 60vw;
  height: 17px; }

.slider__btn {
  position: absolute;
  width: 80px;
  border: none;
  background: transparent;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #F0F8FF; }
  .slider__btn.morning {
    left: 0; }
  .slider__btn.afternoon {
    left: 17vw; }
  .slider__btn.evening {
    left: 36vw; }
  .slider__btn.night {
    right: 0; }
  .slider__btn:hover {
    background: rgba(255, 255, 255, 0.6); }
  .slider__btn:active {
    transform: scale(0.95); }

.slider-bar {
  width: 60vw;
  height: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.6); }

.thumb {
  position: absolute;
  width: 80px;
  height: 5px;
  background: rgba(255, 255, 255, 0.6); }
  .thumb.morningPos {
    left: 0;
    transition: left 1s ease-in-out; }
  .thumb.afternoonPos {
    left: 17px;
    transition: left 1s ease-in-out; }
  .thumb.eveningPos {
    left: 36px;
    transition: left 1s ease-in-out; }
  .thumb.nightPos {
    right: 17px;
    transition: right 1s ease-in-out; }

/*============================================================================*
    @@STATE OF CURRENT WEATHER

\*============================================================================*/
.state-of-weather {
  margin: 20px 0;
  height: 24vh; }

.state-of-weather__indicators {
  border: 0.5px solid rgba(255, 255, 255, 0.4); }
  .state-of-weather__indicators.windspeed {
    background: rgba(255, 255, 255, 0.2) url("../img/iconsTolls/windspeed.svg") no-repeat 10% 50%;
    background-size: 60px; }
  .state-of-weather__indicators.temp {
    background: rgba(255, 255, 255, 0.2) url("../img/iconsTolls/temp.svg") no-repeat 10% 50%;
    background-size: 60px; }
  .state-of-weather__indicators.temp-fillslike {
    background: rgba(255, 255, 255, 0.2) url("../img/iconsTolls/tempFeelslike.svg") no-repeat 10% 50%;
    background-size: 80px; }
  .state-of-weather__indicators.humidity {
    background: rgba(255, 255, 255, 0.2) url("../img/iconsTolls/humidity.png") no-repeat 10% 50%;
    background-size: 70px; }

/*============================================================================*
    @@ACCORDION

\*============================================================================*/
.card {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0;
  font-family: "Verdana", sans-serif;
  font-size: 17px;
  color: #F0F8FF; }

.card .card-header,
.card .card-block {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 0; }

.card .card-header {
  background-color: rgba(255, 255, 255, 0.3); }
  .card .card-header a {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8); }
    .card .card-header a:hover {
      background-color: rgba(255, 255, 255, 0.6); }
    .card .card-header a:active {
      color: black; }

.table-weather-header,
.table-weather {
  width: 100%;
  table-layout: fixed;
  text-align: center; }

.table-weather-header td,
.table-weather td {
  height: 4.9vh;
  font-size: 15px;
  cursor: default; }

.table-weather tr:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9); }

.icon-header-table,
.icon-table {
  width: 30px; }
